<div class="ui-navbar-showcase">
  
  <nav class="nbar nbar--default nbar--centered">
    <a href="#" class="nbar-brand" (click)="$event.preventDefault()">
      <div class="nbar-logo">P</div>
      <span class="nbar-brand-name">Platform</span>
    </a>
    <div class="nbar-nav">
      <a *ngFor="let link of links"
         href="#"
         class="nbar-link"
         [class.active]="link.active"
         (click)="$event.preventDefault(); setActive(link)">
        {{ link.label }}
      </a>
    </div>
    <div class="nbar-actions">
      <a href="#" class="nbar-btn nbar-btn--ghost" (click)="$event.preventDefault()">Se connecter</a>
      <a href="#" class="nbar-btn nbar-btn--primary" (click)="$event.preventDefault()">Commencer</a>
    </div>
  </nav>
</div>
