<div class="skeleton-showcase">
  <h2 class="section-title">Styles d'animation</h2>
  <div class="animation-demos">
    <div class="animation-demo">
      <h4>Pulse</h4>
      <div class="skeleton skeleton--box animation--pulse"></div>
    </div>
    <div class="animation-demo">
      <h4>Wave</h4>
      <div class="skeleton skeleton--box animation--wave"></div>
    </div>
    <div class="animation-demo">
      <h4>Shimmer</h4>
      <div class="skeleton skeleton--box animation--shimmer"></div>
    </div>
  </div>
</div>
