<div class="tags-showcase">
  <h2 class="section-title">Variantes</h2>
  <div class="tags-variants">
    <div class="variant-group">
      <h4>Filled</h4>
      <div class="tags-row">
        <span class="tag tag--filled tag--primary">Primary</span>
        <span class="tag tag--filled tag--success">Success</span>
        <span class="tag tag--filled tag--warning">Warning</span>
        <span class="tag tag--filled tag--danger">Danger</span>
        <span class="tag tag--filled tag--info">Info</span>
      </div>
    </div>
    <div class="variant-group">
      <h4>Outlined</h4>
      <div class="tags-row">
        <span class="tag tag--outlined tag--primary">Primary</span>
        <span class="tag tag--outlined tag--success">Success</span>
        <span class="tag tag--outlined tag--warning">Warning</span>
        <span class="tag tag--outlined tag--danger">Danger</span>
        <span class="tag tag--outlined tag--info">Info</span>
      </div>
    </div>
    <div class="variant-group">
      <h4>Soft</h4>
      <div class="tags-row">
        <span class="tag tag--soft tag--primary">Primary</span>
        <span class="tag tag--soft tag--success">Success</span>
        <span class="tag tag--soft tag--warning">Warning</span>
        <span class="tag tag--soft tag--danger">Danger</span>
        <span class="tag tag--soft tag--info">Info</span>
      </div>
    </div>
  </div>
</div>
